*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #efefef;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    width: 70%;
    padding: 50px;
    margin: auto;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow:0 0 10px 1px rgba(0, 0, 0, 0.3) ;
}

.photo{
       
    width: 45%;/* по две в строке с отступами */
    aspect-ratio: 16 / 9;
    margin: 3%;  
    transition: all 0.9s ease;
    margin: 20px;
    background-color: orange;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow:0 0 10px 1px rgba(0, 0, 0, 0.3) ;
    /* box-shadow: [сдвиг по X] [сдвиг по Y] [размытие] [растяжение] [цвет]; */
}
.photo:hover{
    transform: scale(1.5) rotate(6deg);
}

h1{
    width: 100%;
    text-align:center;
    font-size: 48px;
}

.photo1{
    background-image: url("../img/img1.jpeg");
}
.photo2{
    background-image: url("../img/img2.jpeg");
}
.photo3{
    background-image: url("../img/img3.jpeg");
}
.photo4{
    background-image: url("../img/img4.jpeg");
}
.photo5{
    background-image: url("../img/img5.jpeg");
}
.photo6{
    background-image: url("../img/img6.jpeg");
}
.photo7{
    background-image: url("../img/img7.jpeg");
}
.photo8{
    background-image: url("../img/img8.jpeg");
}
.photo9{
    background-image: url("../img/img9.jpeg");
}
.photo10{
    background-image: url("../img/img10.jpeg");
}
.photo11{
    background-image: url("../img/img11.jpg");
}
.photo12{
    background-image: url("../img/img12.jpeg");
}